<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.br.photoscheme">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".teste.view.PreviewPhotoActivity"
            android:exported="false" />
        <activity
            android:name=".teste.view.PhotoSchemeActivity"
            android:exported="false" />
    </application>

</manifest>